venv/
Lib/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.tmp
*.log

# Pesados de entrenamiento/outputs locales
# runs/  <- NO ignorar completo para incluir pesos necesarios
uploads/
outputs/

# Ignorar carpetas pesadas dentro de Modelo
Modelo/venv/
Modelo/Lib/
Modelo/__pycache__/
Modelo/.vscode/
Modelo/Scripts/
Modelo/share/
Modelo/outputs/
Modelo/uploads/
# Ignorar todo en Modelo/runs excepto los pesos
Modelo/runs/**
!Modelo/runs/**/weights/**

Modelo/**/train/
Modelo/**/valid/
Modelo/**/test/
Modelo/**/train_processed/

# Archivos del sistema
.DS_Store
Thumbs.db